body {
    background-color: rgb(249, 242, 231);
    min-width: 700px;
    margin: 0px;
    font-family: 'Pacifico', cursive, 'Lobster', cursive, sans-serif;
}

button:hover{
    filter: brightness(1.5);
}

.left-block {
    display: grid;
    width: 80%;
}

.pizza-container {
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin: 5px;
    padding: 3px;
    position: relative;
    display: block;
}

.head-for-menu {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: 100%;
    flex-basis: 100%;
    height: fit-content;
    background-color: rgb(249, 242, 231);
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 100px;
}

.pizza-image {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
}

.pizza-name {
    color: #ff6600;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.pizza-type {
    font-size: 16px;
    color: #7a7a7a;
    margin-bottom: 5px;
    margin-left: 10px;
}

.pizza-description {
    font-size: 14px;
    color: #000000;
    min-height: 50px;
    margin-bottom: 7px;
    margin-left: 10px;
    margin-right: 10px;
}

.pizza-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.detail-row {
    display: flex;
    margin-bottom: 5px;
    justify-content: center;
}

.detail-label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}

.detail-value-center {
    height: fit-content;
    font-size: 16px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-value-small {
    font-size: 16px;
    color: #000000;
    display: flex;
    align-items: center;
}

.select-button {   
    background-color: #ec8021;
    border: none;
    color: #ffffff;
    font-size: 16px;
    padding: 9px 14px;
    border-radius: 4px;
    cursor: pointer;
}
.selector{
    
}

.deselect {
    height: fit-content;
    justify-self: center;
    background-color: rgb(255, 239, 216);
    border: none;
    color: #ec8022;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.select-button-deselect:hover {
    filter: brightness(90%);
}

.fa-circle {
    color: black;
    margin-right: 5px;
}

.detail-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7px;
}

.detail-price strong {
    font-size: 25px;
    font-weight: bold;
}

.detail-price span {
    font-size: 16px;
}


.pizzas-wrapper {
    box-sizing: border-box;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}
.pizzas-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(212, 203, 188);
    grid-gap: 12px;
    justify-content: center;
}

.pizza-label-new {
    font-family: inherit;
    font-weight: bold;
    color: inherit;
}

.pizza-label-content {
    position: absolute;
    top: -10px;
    right: -10px;
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    background-color: red;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

.sidebar {
    background: white;
    z-index: 20;
    box-shadow: -3px 3px 10px rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 20%;
    height: 100vh;
    overflow: scroll;
}

.pizza-name,
.pizza-type,
.pizza-description {
    word-break: break-all;
    height: fit-content;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.85);
    width: 80%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.top-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10px;
    background-color: #ec8022;
    width: 100px;
    height: 90px;
    font-size: 24px;
    padding: 10px;
    padding-top: 15px;
    color: #fff;
}

.badge-end {
    width: 100%;
    height: 11px;
    top: 115px;
    background-image: url(assets/images/discount.svg);
    background-size: cover;
    position: absolute;
    transform: scaleY(-1);
}

.information {
    display: flex;
    flex-direction: column;
    padding-left: 140px;
    width: calc(100% - 140px);
}

.contacts {
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    border-bottom: 1px solid #aeacac;
    align-items: center;
    margin-right: 13px;
}

.row {
    display: grid;
}

header span {
    color: #d1d1d1;
}

.phone,
.schedule,
.orders {
    font-size: 1.2rem;
    margin-right: 30px;
    align-items: center;
}

.pizza-label {
    color: #fff;
    font-size: 1.6rem;
    justify-self: left;
    margin-top: 5px;
    margin-bottom: 5px;            
}

.sign-in {
    justify-self: right;
    border: 1px solid #ff9100;
    background-color: #ff9100;
    background-image: linear-gradient(to bottom, #ff8e2b, #ffa600);
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.all-pizza-font {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
}
.orange-font1 {
    color: orange;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    word-break: break-all;
}
.quantity {   
    background-color: orange;
    color: white;
    width: 15px;
    justify-content: center;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    padding: 3px 7px 3px 7px;
}

.order {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-size: 16px;
    display: grid;
    grid-template-columns: auto auto;
}
.order-list-title {
    justify-self: left;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.7;
}

.grid-container {
    position: relative;
    width: 100%;
    background-color: #f1efef;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
    padding-left: 10px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.column-1 {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}

.row1 {
    display: grid;
}
.row2 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    align-items: center;
}
.row3 {
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: column;
}

.column-2 {
    width: 100%;
    height: 100%;
    align-self: center;
}

.column-img {
    position: absolute;
    right: -48px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50% 0 0 50%;
    max-height: 96px;
    max-width: 96px; 
}

.row3 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: left;
    align-items: center;
}

.price {
    font-weight: bold;
    color: black;
    font-size: 18px;
    margin-right: 10px;
    display: inline-block;
}

.minus-button {
    display: inline-block;
    background-color: rgb(255, 98, 98);
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.plus-button {
    display: inline-block;
    background-color: rgb(50, 117, 50);
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.gradient-button {
    display: inline-block;
    background-color: white;
    color: white;
    border: 1px solid lightgrey;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.cross {
    color: orange;
    font-weight: bold;
}

.number {
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    margin-right: 10px;
}

.discount-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    z-index: 10;
    width: 100px;
    height: 120px;
    font-size: 24px;
    padding: 10px;
    bottom: 0;
    left: 10px;
    background-color: #ec8022;
    padding-bottom: 10px;
    color: #fff;

}

.discount-ending {
    position: absolute;
    width: 100%;
    height: 11px;
    top: -11px;
    background-image: url(assets/images/discount.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.title-pizza-d {
    text-align: center;
    margin: 0;
    line-height: 1;
}

.line-d {
    width: 100%;
    margin: 8px 0;
}

.discount-d {
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding-top: 10px;
    border-top: 3px dotted rgb(207, 116, 12);
}
.font-big{
    font-size: 24px;
}
.bottom-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 140px;
    background-color: rgb(231, 230, 228);
    border-top: 2px solid rgb(201, 200, 200);
    text-align: center;
}

.footer-grey-font {
    color: gray;
}

.container {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 18px;
    margin-top: 20px;
}

.bold-text {
    font-weight: bold;
    margin-left: 5px;
}

.small-text {
    color: gray;
    margin: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.new-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: rgb(213, 45, 45);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    z-index: 5;
}

.new-badge::after {
    content: "Нова";
}

.popular-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: rgb(31, 101, 31);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    z-index: 5;
    }

.popular-badge::after {
    content: "Популярна";
}

.block-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 20%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.block-header {
    display: flex;
    justify-content: space-between;
    color: #000;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;;
    margin-top: 10px;
    margin-bottom: 10px;
    word-break: break-all;
}

.header-left {
margin-right: 10px;
}
.order-button {
    display: block;
    width: 100%;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #ec8022;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
}

@media (max-width: 1000px) {
.schedule{
    display: none;
}

.pizzas-wrapper {
    grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
.schedule{
    display: none;
}

.pizzas-wrapper {
    grid-template-columns: repeat(1, 1fr);
}

.left-block {
    width: 50%;
}

.navbar {
    width: 50%;
}

.sidebar {
    width: 50%;
}

.block-container{
    width: 50%;
}

.pizza-head {
    margin-top: 130px;
}

.schedule{
    display: none;
}

.orders{
    display: none;
}

.head-for-menu{
    display: none;
}
.pizzas-wrapper{
    margin-top: 90px;
}
.sign-in-button {
    display: none;
}

.sign-in-button-down {
    display: grid;
}

.pizza-label {
    display: none;
}

.contacts {
    grid-template-columns: 1fr;
}
.bottom-text{
    width: 50%;
}
.footer-grey-font{
    font-size: 12px;
}

}
